<div class="containeer-register">
  <div class="box-register">
    <div>
      <h2>Registro TIF</h2>
    </div>
    <div>
      <form>
        <div>
          <label class="form-label" >Nombre</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
          />
        </div>
        <div>
          <label class="form-label" >Apellido</label>
          <input
            type="text"
            class="form-control"
            formControlName="lastname"
          />
        </div>
        <div>
          <label class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="ejemplo@gmail.com"/>
        </div>
        <div>
          <label class="form-label" >Contraseña</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="********"
          />
        </div>
        <div>
          <label class="form-label" >Verificar contraseña</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>
        <input class="submit" type="submit" value="Registrarse"/>
      </form>
    </div>
  </div>
</div>
