<nav class="navbar navbar-expand-lg bg-body-tertiary color">
  <div class="container-fluid">
    <a href="" class="navbar-brand logo">
      <img src="../../../assets/images/logo.png" alt="logo" />
    </a>
    <button class="navbar-toggler" type="button">
      <img src="../../../assets/images/icon_menu.svg" alt="menu" />
    </button>
    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/equipos']">Equipos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Planes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hogar</a>
        </li>
      </ul>
      <div class="box-search container-fluid">
        <input class="search" type="text" placeholder="Buscar" />
        <a href="">
          <img src="../../../assets/images/search.svg" alt="" />
        </a>
      </div>
      <a class="navbar-brand" href="">
        <img
          src="../../../assets/images/icon_shopping_cart.svg"
          alt="shopping_car"
        />
      </a>
      <button *ngIf="!statesLogin" class="btn btn-mi-tif" [routerLink]="['/login']">Mi TIF</button>
      <div *ngIf="statesLogin">
        <div class="box-else">
          <a class="user-saludo">Hola</a>
          <img src="../../../assets/images/flechita.svg" alt="">
          <button type="button" class="" (click)="logout()">
            <img src="../../../assets/images/logout.svg" alt="">
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
