div.container{
  padding: 1em;
  button.btn{
    width: 100px;
    padding: 0.2em;
    border-radius: .5em;
    margin-top: .8em;
    border: 0;
    background-color: #12649c;
    color: #c1ff72;
  }
}
