<app-nav></app-nav>
<div class="container">
  <div class="container1">
    <div>
      <h1>Datos de la empresa</h1>
    </div>
    <div>
      <p>
        nombre: <strong>TIF.Eirl</strong>
      </p>
      <p>
        Dirección: <strong>Jr. El colibrí n° 567 - Lte 27 - Mz A</strong>
      </p>
      <p>
        Ruc: <strong>2579456789051</strong>
      </p>
      <p>
        Telefono: <strong>+51 995405429</strong>
      </p>
    </div>
  </div>
  <div class="container1">
    <div>
      <h1>Cantidas de ventas realizadas</h1>
    </div>
    <div class="cantidad">
      10
    </div>
  </div>
</div>
