<div class="containeer">
  <div class="box">
    <div>
      <h2>Bienvenido a mi TIF</h2>
    </div>
    <div>
      <form [formGroup]="formLogin" (ngSubmit)="login()" novalidate>
        <div *ngIf="loginErrorState">
          <p class="text-danger" >Usuario y/o contraseña incorrectos</p>
        </div>
        <div>
          <label class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="ejemplo@gmail.com"
            [class.is-invalid]="emailNoValido"
            />
            <small class="text-danger" *ngIf="emailNoValido">Campo requerido</small>
        </div>
        <div>
          <label class="form-label" >Contraseña</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="********"
            [class.is-invalid]="passwordNoValido"
          />
          <small class="text-danger" *ngIf="passwordNoValido">Campo requerido</small>
        </div>
        <input class="submit" type="submit" value="Iniciar Sesión" />
      </form>
      <a href="">¿Has olvidado la contraseña?</a>
    </div>
    <hr />
    <div class="box-register">
      <p>¿No tienes cuenta?</p>
      <button class="btn-display-register" type="button" [routerLink]="['/register']" >Registrese</button>
    </div>
  </div>
</div>
